.root {
  display: flex;
  align-items: center;
}

.avatar {
  margin-right: 10px;
}

.userName {
  font-weight: 500;
  font-size: 14px;
}

.userDetails {
  display: flex;
  flex-direction: column;
}

.additional {
  font-size: 10px;
  opacity: 0.5;
}
