.root {
  display: flex;
  align-items: flex-start;
}

.skeleton {
  display: flex;
  flex-direction: column;
}

.editButtons {
  margin-top: 8px;
  display: flex;
  gap: 8px;
}

.comment {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.commentButtons {
  display: flex;
  gap: 8px;
}
